/* cambio universal */
* {
  padding: 0;
  margin: 0;
}

/* cambiar fondo del html */
/* por etiqueta */
body {
  /* por nombre */
  background-color: black;
  /* por hexadecimal */
  color: #f6f6f6;
  /* viewport y altura de la pagina */
  height: 100vh;
  /* box size, para patrones de diseños con css */
  box-sizing: border-box;
}
/* por etiqueta */
strong {
  color: rgba(0, 255, 255, 0.842);
}

.titulo-destaque {
  /* por color rgba */
  color: rgba(0, 255, 255, 0.842);
}

.presentacion {
  /* flex box */
  display: flex;
  /* alinear al centro */
  align-items: center;
}
