/* importar un tipo de letra en css */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* variables en css */
:root {
  --color-primario: black;
  --color-secundario: white;
  --color-terceario: rgb(92, 179, 236);

  /* fuentes */
  --fuente-montserrat: "Montserrat", serif;
  --fuente-krola: "Krona One", serif;
}
/* cambio universal */
* {
  padding: 0;
  margin: 0;
}

/* cambiar fondo del html */
/* por etiqueta */
body {
  /* por nombre */
  /* usar bariable */
  background-color: var(--color-primario);
  /* por hexadecimal */
  color: var(--color-secundario);
  /* viewport y altura de la pagina */
  height: 100vh;
  /* box size, para patrones de diseños con css */
  box-sizing: border-box;
}
/* por etiqueta */
strong {
  color: var(--color-terceario);
}

.titulo-destaque {
  /* por color rgba */
  color: var(--color-terceario);
}

.presentacion {
  /* flex box */
  display: flex;
  /* alinear al centro */

  align-items: center;
  /* margen */
  margin: 6% 15%;
  /* justificar y dar espacio entre las cosas */
  justify-content: space-between;
  gap: 82px;
}

.presentacion_contenido {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* modificacion del h1 */
.presentacion_titulo {
  font-size: 2.2rem;
  /* usar la fuente usada */
  /* usar una variable */
  font-family: var(--fuente-krola);
}

/* modificacion del p */

.presentacion_parrafo {
  font-size: 30px;
  font-family: var(--fuente-montserrat);
}
.presentacion_parrafo_about {
  font-size: 15px;
  font-family: var(--fuente-montserrat);
}
.prensentacion_enlaces {
  /* alineacion de los elementos de enlace */
  display: flex;
  justify-content: space-between;
  /* en forma de columna */
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion_enlace_link {
  /* alineacion de los elementos de enlaces estilos */
  width: 50%;

  /* alineacion del boton al centro */
  text-align: center;
  padding: 21.5px 0;
  border-radius: 8px;
  font-family: var(--fuente-krola);
  font-size: 1.5rem;
  font-weight: 600;
  /* eliminar la linea del boton */
  text-decoration: none;
  color: #ffffff;
  /* color del borde */
  border: 2px solid aqua; /* tamaño del borde */
  /* alinear su contenido en el centro */
  display: flex;
  justify-content: center;
  /* espacio entre el texto y el icono */
  gap: 10px;
}

.presentacion_enlaces_subtitulo {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
}

.presentacion_enlace_link:hover {
  background-color: rgb(0, 0, 0);
}

.header {
  padding: 2% 0% 0% 15%;
}

.header_menu {
  display: flex;
  gap: 80px;
}

.menu_link {
  font-family: "Montserrat", "Helvetica Neue";
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-terceario);
  text-decoration: none;
}

.presentacion_imagen {
  width: 50%;
}

@media (max-width: 1200px) {
  .header{
    padding: 10%;
  }
  .header_menu {
    justify-content: center;
  }
  .presentacion {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .presentacion_contenido{
    width: auto;
  }
}
